<header class="header container pr-0">
 <div class="row">
    <div class="col">
     <a href="/">
         <svg class="logo">
      <use xlink:href="/assets/img/sprite.svg#logo"></use>
   </svg>
       </a>
    </div>
    
    <div class="col-7 mx-auto">
        <ul class="header__menu">
      <li><a href="#">Как это работает?</a></li>
      <li><a href="#">Фотографы</a></li>
      <li><a href="#">Цены</a></li>
      <li><a href="#">Доставка и оплата</a></li>
   </ul>
    </div>
    <div class="col pr-0">
    <a href="#">
      <div class="header__search">
      <svg class="search">
         <use xlink:href="/assets/img/sprite.svg#search"></use>
      </svg>
         <span class="header__tsearch">Отследить заказ</span>
      </div>
      </a>
    </div>
  </div>


 
</header>

