.header {
    height: 104px;
    max-width: 1136px;
    line-height: 104px;
    &__menu a {
        font-weight: 500;  
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
    }
    &__menu li {
        display: inline-block;
        margin: 0px 10px;
    }
    &__menu li:first-child {
        margin-left: 0px;
    }
    &__menu li:last-child {
        margin-right: 0px;
    }
}

.logo {
    size: 106px 32px;
    display: inline-block;
}
.search {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    &__icon {
        size: 18px 18px;
        position: relative;
        top: -1px;
        right: 5px;
    }
}