.headline {
    font-weight: 600;
    font-size: 48px;
    max-width: 680px;
    line-height: 51px;
    &__one {
        margin-top: 80px;
    }
    &__two {
        margin-top: 120px;
    }
}
.subline {
    margin-top: 27px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 680px;
}

.btn-one { 
    width: 459px;
    padding-left: 2px;
    margin-top: 42px;
}

.photo-grid {
    width: 240px;
    margin: 0px 8px;
    &__elem1 {
        width: 240px;
        height: 180px;
        border-radius: 16px;
        background: #000;
        margin-top: 75px;
        background-size: cover;
    }
    &__elem2 {
        width: 240px;
        height: 180px;
        border-radius: 16px;
        background: #000;
        margin-bottom: 16px;
        background-size: cover;
    }
    &__elem3 {
        width: 240px;
        height: 307px;
        border-radius: 16px;
        background: #000;
        margin-top: 42px;
        background-size: cover;
    }
}

.ph-grid-cnt {
    width: 1776px;
  //  margin: 0 auto;
    position: relative;
    left: calc(50% - 888px);

}
.ph-parent-grid-cnt {
    height: 236px;
    overflow: hidden;
    margin-top: 89px;
}

@media (min-width: 1776px) {
    .ph-grid-cnt {
     margin: 0 auto;
    position: inherit;
    left: 0;
    }
}

.block-two { 
    background: #FFF8EE;
}
.main-tabs {
    margin-top: 16px;
}
.main-tabs .nav-tabs {
    border-bottom: none;
}
//.main-tabs .nav-tabs .nav-link
.main-tabs .nav-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    height: 43px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 45px;
    width: 233px;
    text-align: center;
}
.main-tabs .nav-tabs .nav-link.active, .main-tabs .nav-tabs .nav-link:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #496ADC;
    border-bottom: 2px solid #496ADC!important;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}

.tabs-name-step {
    font-weight: 600;
    font-size: 24px;
    color: #000;
    &__sub {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 8px;
    }
}

.main-tabs .tab-content {
    margin-top: 80px;
}

.video {
    height: 639px;
    width: 100%;
    background: #000;
    margin-top: 65px;
    margin-bottom: 120px;
    border-radius: 24px;
    background-size: cover;
    &__circle {
        background: #FFFFFF;
        box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.2);
        height: 96px;
        width: 96px;
        border-radius: 96px;
        margin: 0 auto;
        position: relative;
        top: calc(50% - 96px / 2);
    }
    &__icon {
        size: 29px 33px;
        position: relative;
        display: block;
        top: calc(50% - 29px / 2);
        margin-left: 36px;
    }
}

.vlink {
    width: 100%;
    height: 100%;
}