{% extends "../base/template.twig" %}

{% set current_page = 'index' %}
{% set page_ttl =  'Стартовая страница' %}

{% block content %}
  <div class="alert alert-primary" role="alert">
   Проверяем работу bootstrap!
</div>
{% endblock content %}