{% extends "../base/template.twig" %}

{% set current_page = 'index' %}
{% set page_ttl =  'Стартовая страница' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="headline headline__one mx-auto">Просто напечатать работу вашего любимого фотографа</p>
                <p class="subline mx-auto">Печатайте и получайте фотографии ваших любимых фотографов прямо в руки</p>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
        <a href="#"><div class="mx-auto blue-button">Каталог фотографов</div></a>
            </div>
            <div class="col mx-auto">
            <a href="#"><div class="mx-auto white-button">Как мы работаем</div></a>
            </div>
        </div>

    </div>
{% endblock content %}