{% extends "../base/template.twig" %}

{% set current_page = 'index' %}
{% set page_ttl =  'Стартовая страница' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="headline headline__one mx-auto">Просто напечатать работу вашего любимого фотографа</p>
                <p class="subline mx-auto mb-0">Печатайте и получайте фотографии ваших любимых фотографов прямо в руки</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="btn-one mx-auto">
                    <a href="#"><div class="blue-button">Каталог фотографов</div></a>
                    <a href="#"><div class="white-button">Как мы работаем</div></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ph-parent-grid-cnt pr-0 pl-0">
        <div class="row mx-auto ph-grid-cnt">
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem1" style="background-image: url('/assets/img/photo2.jpg');"></div>
            </div>
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem2" style="background-image: url('/assets/img/photo2.jpg');"></div>
                <div class="photo-grid__elem2" style="background-image: url('/assets/img/photo4.jpg');"></div>
            </div>
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem3" style="background-image: url('/assets/img/photo4.jpg');"></div>
            </div>
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem1" style="background-image: url('/assets/img/photo5.jpg');"></div>
            </div>
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem2" style="background-image: url('/assets/img/photo6.jpg');"></div>
                <div class="photo-grid__elem2" style="background-image: url('/assets/img/photo4.jpg');"></div>
            </div>
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem3" style="background-image: url('/assets/img/photo2.jpg');"></div>
            </div>
            <div class="col pr-0 pl-0 photo-grid">
                <div class="photo-grid__elem1" style="background-image: url('/assets/img/photo8.jpg');"></div>
            </div> 
        </div>
    </div>

    <div class="container-fluid block-two">
        <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="headline headline__two mx-auto">Как это работает?</p>
                    </div>
                </div>
<div class="main-tabs">
<ul class="nav nav-tabs justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="photol-tab" data-toggle="tab" href="#photol" role="tab" aria-controls="photol" aria-selected="true">Для фотолюбителей</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="false">Для фотографов</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="photol" role="tabpanel" aria-labelledby="photol-tab">
          <div class="row mx-auto text-center">
            <div class="col pl-0">
                <p class="tabs-name-step mb-0">1. Выбираете фото</p>
                <p class="tabs-name-step__sub mt-0">У нас большой выбор фотографов и их прекрасных фотографий</p>
            </div>
            <div class="col">
                <p class="tabs-name-step mb-0">2. Оплачиваете</p>
                <p class="tabs-name-step__sub mt-0">Также у нас куча способов как это оплатить</p>
            </div>
            <div class="col pr-0">
                <p class="tabs-name-step mb-0">3. Получаете заказ</p>
                <p class="tabs-name-step__sub mt-0">Уже через 2 дня распечатанные фото окажутся у вас в руках</p>
            </div>
        </div>
        <div class="row">
                <div class="col pl-0 pr-0">
                <a class="vlink" href="#">
                    <div class="video" style="background-image: url('/assets/img/video.jpg');">
                        <div class="video__circle">
                            <svg class="video__icon">
                                <use xlink:href="/assets/img/sprite.svg#triangle"></use>
                            </svg>    
                        </div>
                    </div>
                    </a>
                </div>
            </div>
  </div>
  <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">...</div>
</div>
</div>
            </div>
        </div>

    </div>
{% endblock content %}